*{
    margin: 0; 
    padding: 0;
}

:root{
    --background-principal: linear-gradient(100deg, rgb(23, 16, 71) 0%, rgb(0, 0, 0) 80%);
    --background-buttons: rgba(255, 254, 254, 0.1);
    --border-color-buttons:  rgba(255, 254, 254, 0.3);
    --text-principal: antiquewhite;
    --font-principal: Arial, Helvetica, sans-serif;
    --icons-color: antiquewhite;
}

[data-theme="ligth"]{
    --background-principal: linear-gradient(100deg, rgba(12, 74, 133, 0.843) 0%, rgba(179, 171, 223, 0.813) 90%);
    --background-buttons: rgba(255, 254, 254, 0.1);
    --border-color-buttons:  rgba(255, 254, 254, 0.3);
    --text-principal: antiquewhite;
    --font-principal: Arial, Helvetica, sans-serif;
    --icons-color: antiquewhite;
}


body{
    width: 360px;
    height: 800px;
    background-image: var(--background-principal);
    color: var(--text-principal);
    font-family: var(--font-family-principal);
}

/*_________________PROFILE_________________*/
#profile{
    padding: 5px;
    margin: 70px auto 20px auto; 
   
   
}

#profile img{
    display: block;
    width: 120px;
    height: 120px;
    margin: 24px auto 8px auto;
    border-radius: 50%;
    object-fit: cover;
}

#profile p{
    width: 50%;
    margin: 0 auto;
    text-align: center;

}

/*______________SWITCH_______________*/
#switch{
    margin: 0 auto 20px auto;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 64px;
    height: 40px;
    position: relative;
}
#handle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: antiquewhite;
    position: absolute;
    z-index: 1;
    color: black; 
}
#track{
    position: absolute;
    inset: 0;
    margin: auto 0;
    width: 50px;
    height: 20px;
    border-radius: 15px;
    border: 2px solid var(--border-color-buttons);
    background-color: var(--background-buttons);
    
}

/*______________BUTTONS______________*/

#buttons{
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 16px;
}

#buttons a {
    display: flex;
    padding: 16px 24px;
    flex-direction: column;
    color: var(--text-principal);
    text-decoration: none;
    align-items: center;
    border: 2px solid var(--border-color-buttons);
    border-radius: 4px;
    background-color: var(--background-buttons);
}

/*______________ICONS_____________*/
#icons{
    display: flex;
    height: 88px;
    justify-content: center;
    margin-top: 25px;
}

#icons ul{
    display: flex;
    gap: 20px;
    list-style: none;
    flex-direction: row;
}

#icons ion-icon{
    width: 27px;
    height: 27px;
    color: var(--icons-color);

}

/*_______________FOOTER______________*/
footer{
    display: block;
    width: 50%;
    margin: 20px auto 0px auto;
    text-align: center;
}