*{
    margin: 0; 
    padding: 0;
}


body{
    width: 360px;
    height: 800px;
    background-color: rgb(23, 16, 71) ;
    color: antiquewhite;
}

/*------------PROFILE------------*/
#profile{
    padding: 5px;
    margin: 70px auto 40px auto;
   
   
}

#profile img{
    display: block;
    width: 120px;
    height: 120px;
    margin: 24px auto 8px auto;
    border-radius: 50%;
    object-fit: cover;
}

#profile p{
    width: 50%;
    margin: 0 auto;
    text-align: center;

}

/*--------------BUTTONS----------*/

#buttons{
    display: flex;
    
    flex-direction: column;
    padding: 24px;
    gap: 16px;
}

#buttons a {
    display: flex;
    padding: 16px 24px;
    flex-direction: column;
    color: antiquewhite;
    text-decoration: none;
    align-items: center;
    border: 2px solid rgba(255, 254, 254, 0.2);
    border-radius: 4px;
    background-color: rgba(255, 254, 254, 0.1);
}
