*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-principal: linear-gradient(100deg, rgb(23, 16, 71) 0%, rgb(0, 0, 0) 80%);
    --background-buttons: rgba(255, 254, 254, 0.1);
    --border-color-buttons:  rgba(255, 254, 254, 0.3);
    --text-principal: antiquewhite;
    --font-principal: "Inter", sans-serif;
    --icons-color: antiquewhite;
    --direction-switch: 0%;
    --switch-icon: url(./assets/moon-stars.svg);
    --hover-border:  rgba(245, 239, 239, 0.982);
    --hover-color: white;
    --hover-shadow: rgba(255, 254, 254, 0.3);
    --hover-footer: #3b82f6;
    --track-background:  rgba(255, 254, 254, 0.1);


}

.light{
    --background-principal: linear-gradient(100deg, rgba(12, 74, 133) 0%, rgba(179, 171, 223)80%);
    --background-buttons: rgba(255, 254, 254, 0.1);
    --border-color-buttons:  rgba(61, 61, 61, 0.303);
    --text-principal: rgba(0, 0, 0, 0.71);
    --font-principal: "Inter", sans-serif;
    --icons-color: black;
    --direction-switch: 50%;
    --switch-icon: url(./assets/sun.svg);
    --hover-border: rgba(16, 15, 15, 0.794);
    --hover-color: black;
    --hover-shadow: rgba(65, 64, 64, 0.5);
    --hover-footer:  #1ff4ff;
    --track-background:  rgba(18, 59, 194, 0.648);
}

html{
    background: var(--background-principal);
    min-height: 100dvh;
}

body {
    background: var(--background-principal);
    color: var(--text-principal);
    font-family: var(--font-principal);
    min-height: 100dvh;
}

main {
    min-height: 100dvh;
}

/*_________________PROFILE_________________*/
#profile{
    padding: 5px;
    margin: 25px auto 20px auto; 
   opacity: 1;
   
}

#profile img{
    border: 2px solid var(--border-color-buttons);
    display: block;
    width: 120px; 
    height: 120px;
    margin: 24px auto 8px auto;
    border-radius: 50%;
    object-fit: cover;
}

#profile p{
    width: 50%;
    margin: 0 auto;
    text-align: center;

}

/*______________SWITCH_______________*/
#switch{
    margin: 0 auto 20px auto;
    display: flex;
    align-items: center;
    width: 64px;
    height: 40px;
    position: relative;
}
#handle {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    left: var(--direction-switch);
    background: antiquewhite var(--switch-icon) no-repeat center;
    position: absolute;
    z-index: 1;
    color: black; 
    border: none;
     transition: box-shadow 0.3s ease;
}

.light #switch button{
    animation: slide-in 0.5s;
}
 #switch button{
    animation: slide-back 0.5s;
}

#handle:hover{

    box-shadow: 0px 0px 0px 8px rgba(96, 96, 96, 0.250);
    
}

#track{
    display: block;
    position: absolute;
    inset: 0;
    margin: auto 0;
    height: 24px;
    border-radius: 15px;
    border: 2px solid var(--border-color-buttons);
    background-color: var(--track-background);
   
    
}

/*______________BUTTONS______________*/

#buttons{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
}

#buttons a {
    display: flex;
    padding: 16px 24px;
    flex-direction: column;
    color: var(--text-principal);
    text-decoration: none;
    align-items: center;
    border: 2px solid var(--border-color-buttons);
    border-radius: 10px;
    background-color: var(--background-buttons);
    transition: 0.5s;
}

#buttons a:hover{
    transform: translatey(-2px);
    box-shadow: 0px 0px 50px 1px var(--hover-shadow);
    border: 2px solid var(--hover-border);
    color: var(--hover-color);
    
}


/*______________ICONS_____________*/
#icons{
    display: flex;
    height: 88px;
    justify-content: center;
    margin-top: 25px;
    
}

#icons ul{
    display: flex;
    gap: 20px;
    list-style: none;
    flex-direction: row;
}

#icons ion-icon{
    display: block;
    width: 27px;
    height: 27px;
    color: var(--icons-color);
    transition: 0.3;

}
#icons li{
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    transition: 0.7;
}

#icons li:hover{
    background: var(--hover-shadow);
    border-radius: 50%;
    
}

/*_______________FOOTER______________*/
footer{
    display: block;
    width: 50%;
    margin: 20px auto 0px auto;
    text-align: center;
}
footer a{
    display: inline-block;
    text-decoration: none;
    color: var(--text-principal);
    transition: 0.5s;
}

footer a:hover{
    transform: scaleX(1) translateX(5px) translateY(-5px);
    color: var(--hover-footer);
     text-shadow:
     0 0 2px rgba(124, 140, 255, 0.7),
     0 0 10px rgba(124, 140, 255, 0.5),
     0 0 15px rgba(124, 140, 255, 0.3);
    
}

/*____________RESPONSIVE______________*/

/* TABLET */
@media (min-width: 600px) {

    #profile {
        margin: 50px auto 20px auto;
    }

    #buttons {
        width: 60%;
    }

    footer {
        width: 50%;
        margin: 20px auto;
    }
}


/* DESKTOP */
@media (min-width: 1100px) {

    #profile {
        margin: 70px auto 20px auto;
    }

    #buttons {
        width: 40%;
    }

    footer {
        width: 50%;
        margin: 20px auto 30px auto;
    }
}

@keyframes slide-in{
    from{
        left:0%;
    }
    to {
        right: 50%;
    }
}

@keyframes slide-back{
    from{
        left:50%;
    }
    to {
        right: 0%;
    }
}